ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

img {
  height: 64px;
}

.user-info {
  text-align: right;
  padding: 10px 30px 0px 0px;
  font-size: small;
}

.spacer {
  flex: 1 1 auto;
}

.active{
  color: lightblue;
}

