<h3>User Update</h3>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-subtitle><b>Please update the user</b></mat-card-subtitle>
  <form [formGroup]="form" (submit)="onUpdatePassword()" *ngIf="!isLoading">

    <mat-form-field>
      <input
      type="password"
      matInput
      placeholder="Enter the user's password" formControlName="password" required>
      <mat-error *ngIf="form.get('password').invalid">Please enter the password</mat-error>
    </mat-form-field>

    <div class="submit">
      <button
      mat-raised-button
      color="primary"
      type="submit">New Password</button>
    </div>
  </form>

</mat-card>
