:host {
  display: block;
  margin-top: 1rem;
  width: 50%;
  margin: auto;
}

button {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

