<mat-spinner *ngIf="isLoading"></mat-spinner>
<button mat-raised-button routerLink="/user/create" color="primary" *ngIf="!isLoading && role == 'Admin'">Create Patient</button>
<button mat-raised-button routerLink="/appointment/list" color="primary" *ngIf="!isLoading">Appointments</button>
<button mat-raised-button routerLink="/patient_record/list" color="primary" *ngIf="!isLoading && role == 'Admin'">Patient Record</button>

<div *ngIf="(usersData.length > 0 && role == 'Admin') && !isLoading">
  <h3>List Patients</h3>
  <mat-accordion *ngFor="let user of usersData; index as i">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ i+1 +". " }} {{ user.name }}
      </mat-expansion-panel-header>
      <p>Name: {{ user.name }}</p>
      <p>Phone: {{ user.phone }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Role: {{ user.role }}</p>
      <mat-action-row *ngIf="userIsAuthenticated">
        <a mat-button color="primary" [routerLink]="['/user/change_password', user.id]" *ngIf="role == 'Admin'">Change Password</a>
        <a mat-button color="primary" [routerLink]="['/user/edit_role', user.id]" *ngIf="role == 'Admin'">Edit</a>
        <button mat-button color="warn" (click)="confirmDialog(user.id)" *ngIf="role == 'Admin'">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-paginator
[length]="totalUsers"
[pageSize]="usersPerPage"
[pageSizeOptions]="pageSizeOptions"
(page)="onChangedPage($event)"
*ngIf="usersData?.length > 0 && role == 'Admin'">
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="usersData?.length <= 0 && !isLoading">No users added yet!</p>
