:host {
  display: block;
  margin-top: 1rem;
}

button {
  margin-bottom: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

table {
  width: 100%;
}
